In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm
from typing import List, Tuple

In [2]:
path = "../data/transformed/"

In [3]:
def filter_by_location(df: pd.DataFrame, location: str, location_col: str = 'pickup_location_id') -> pd.DataFrame:
    # Filter the DataFrame for the specified location
    filtered_df = df[df[location_col] == location]
    return filtered_df

In [4]:
def slice_and_slide(data: pd.DataFrame, start_position: int, n_features: int, step_size: int, target_col: str = 'ride_count') -> List[Tuple[int, int, int]]:
    indices_and_targets = [
        (start, start + n_features, start + n_features + 1)
        for start in tqdm(range(start_position, len(data) - n_features - 1, step_size), desc="Slicing data")
        if (start + n_features + 1) < len(data)
    ]
    return indices_and_targets

In [16]:

def generate_training_set(data: pd.DataFrame, start_position: int, n_features: int, step_size: int, pickup_location_id: int = None, target_col: str = 'ride_count') -> pd.DataFrame:
    """
    Generates a training set DataFrame with features, pickup_time_hour, and rides_next_hour.

    Parameters:
    data (pd.DataFrame): The input DataFrame containing the data.
    start_position (int): The starting position for slicing the data.
    n_features (int): The number of features to extract.
    step_size (int): The step size for slicing the data.
    pickup_location_id (int, optional): The pickup location ID to filter the data. Defaults to None.
    target_col (str): The name of the target column. Defaults to 'ride_count'.

    Returns:
    pd.DataFrame: A DataFrame containing the features, pickup_time_hour, and rides_next_hour.
    """
    # Filter by location if provided
    if pickup_location_id is not None:
        data = data[data['pickup_location_id'] == pickup_location_id]

    # Extract features and targets
    indices_and_targets = slice_and_slide(data, start_position, n_features, step_size, target_col=target_col)
    X = np.array([data.iloc[start:end][target_col].values for start, end, target in tqdm(indices_and_targets, desc="Extracting features for X", colour='green')])
    y = np.array([data.iloc[end:target][target_col] for start, end, target in tqdm(indices_and_targets, desc="Extracting target for y", colour='green')])

    # Extract additional columns
    pickup_time_hours = [data.iloc[target]['pickup_time'] for start, end, target in indices_and_targets]
    pickup_location_ids = [data.iloc[target]['pickup_location_id'] for start, end, target in indices_and_targets]
    
    # Create combined DataFrame
    combined_df = pd.DataFrame(X, columns=[f'rides_previous_{i+1}_hour' for i in reversed(range(n_features))])
    combined_df['pickup_time'] = pickup_time_hours
    combined_df['pickup_location_id'] = pickup_location_ids
    combined_df['rides_next_hour'] = y

    return combined_df

In [6]:
# def generate_X_y_dataframes(data: pd.DataFrame, start_position: int, n_features: int, step_size: int, pickup_location_id: str = None, target_col: str = 'ride_count') -> Tuple[pd.DataFrame, pd.DataFrame]:
 
#     # Filter by location if provided
#     if pickup_location_id is not None:
#         data = data[data['pickup_location_id'] == pickup_location_id]

#     # Extract features for X
#     indices_and_targets = slice_and_slide(data, start_position, n_features, step_size, target_col=target_col)
#     X = np.array([data.iloc[start:end][target_col].values for start, end, target in tqdm(indices_and_targets, desc="Extracting features for X")])

#     # Extract target for y
#     y = np.array([data.iloc[end:target][target_col].values for start, end, target in tqdm(indices_and_targets, desc="Extracting target for y")])

#     # Create DataFrames
#     X_df = pd.DataFrame(X, columns=[f'rides_previous_{i+1}_hour' for i in reversed(range(n_features))])
#     y_df = pd.DataFrame(y, columns=['rides_next_hour'])

#     return X_df, y_df

In [7]:
ts_data = pd.read_parquet('/Users/borja/Documents/Somniumrema/projects/ml/taxi_demand_predictor/data/silver/2024/ts_data_2024_01.parquet')
ts_data.head()

  pickup_time  pickup_location_id  ride_count
0  2024-01-01                   4        24.0
1  2024-01-01                   7         4.0
2  2024-01-01                   9         1.0
3  2024-01-01                  10         6.0
4  2024-01-01                  12         4.0

In [8]:
# Filter the dataset for a specific location, e.g., location 4
filtered_data = filter_by_location(ts_data, location=43)
filtered_data[:25]

             pickup_time  pickup_location_id  ride_count
22   2024-01-01 00:00:00                  43       156.0
282  2024-01-01 01:00:00                  43        85.0
542  2024-01-01 02:00:00                  43        36.0
802  2024-01-01 03:00:00                  43        14.0
1062 2024-01-01 04:00:00                  43         5.0
1322 2024-01-01 05:00:00                  43         3.0
1582 2024-01-01 06:00:00                  43         4.0
1842 2024-01-01 07:00:00                  43        12.0
2102 2024-01-01 08:00:00                  43        10.0
2362 2024-01-01 09:00:00                  43        14.0
2622 2024-01-01 10:00:00                  43        28.0
2882 2024-01-01 11:00:00                  43        54.0
3142 2024-01-01 12:00:00                  43        48.0
3402 2024-01-01 13:00:00                  43        70.0
3662 2024-01-01 14:00:00                  43       102.0
3922 2024-01-01 15:00:00                  43       121.0
4182 2024-01-01 16:00:00                  43        82.0
4442 2024-01-01 17:00:00                  43        50.0
4702 2024-01-01 18:00:00                  43        39.0
4962 2024-01-01 19:00:00                  43        39.0
5222 2024-01-01 20:00:00                  43        36.0
5482 2024-01-01 21:00:00                  43        25.0
5742 2024-01-01 22:00:00                  43        13.0
6002 2024-01-01 23:00:00                  43         5.0
6262 2024-01-02 00:00:00                  43         3.0

In [9]:
# Create slices with 12 previous hours as features
rolling_window = slice_and_slide(filtered_data, 0, 24*7, 1)
rolling_window

Slicing data: 100%|██████████| 575/575 [00:00<00:00, 1879754.33it/s]

[(0, 168, 169),
 (1, 169, 170),
 (2, 170, 171),
 (3, 171, 172),
 (4, 172, 173),
 (5, 173, 174),
 (6, 174, 175),
 (7, 175, 176),
 (8, 176, 177),
 (9, 177, 178),
 (10, 178, 179),
 (11, 179, 180),
 (12, 180, 181),
 (13, 181, 182),
 (14, 182, 183),
 (15, 183, 184),
 (16, 184, 185),
 (17, 185, 186),
 (18, 186, 187),
 (19, 187, 188),
 (20, 188, 189),
 (21, 189, 190),
 (22, 190, 191),
 (23, 191, 192),
 (24, 192, 193),
 (25, 193, 194),
 (26, 194, 195),
 (27, 195, 196),
 (28, 196, 197),
 (29, 197, 198),
 (30, 198, 199),
 (31, 199, 200),
 (32, 200, 201),
 (33, 201, 202),
 (34, 202, 203),
 (35, 203, 204),
 (36, 204, 205),
 (37, 205, 206),
 (38, 206, 207),
 (39, 207, 208),
 (40, 208, 209),
 (41, 209, 210),
 (42, 210, 211),
 (43, 211, 212),
 (44, 212, 213),
 (45, 213, 214),
 (46, 214, 215),
 (47, 215, 216),
 (48, 216, 217),
 (49, 217, 218),
 (50, 218, 219),
 (51, 219, 220),
 (52, 220, 221),
 (53, 221, 222),
 (54, 222, 223),
 (55, 223, 224),
 (56, 224, 225),
 (57, 225, 226),
 (58, 226, 227),
 (59, 227, 228),
 (60, 228, 229),
 (61, 229, 230),
 (62, 230, 231),
 (63, 231, 232),
 (64, 232, 233),
 (65, 233, 234),
 (66, 234, 235),
 (67, 235, 236),
 (68, 236, 237),
 (69, 237, 238),
 (70, 238, 239),
 (71, 239, 240),
 (72, 240, 241),
 (73, 241, 242),
 (74, 242, 243),
 (75, 243, 244),
 (76, 244, 245),
 (77, 245, 246),
 (78, 246, 247),
 (79, 247, 248),
 (80, 248, 249),
 (81, 249, 250),
 (82, 250, 251),
 (83, 251, 252),
 (84, 252, 253),
 (85, 253, 254),
 (86, 254, 255),
 (87, 255, 256),
 (88, 256, 257),
 (89, 257, 258),
 (90, 258, 259),
 (91, 259, 260),
 (92, 260, 261),
 (93, 261, 262),
 (94, 262, 263),
 (95, 263, 264),
 (96, 264, 265),
 (97, 265, 266),
 (98, 266, 267),
 (99, 267, 268),
 (100, 268, 269),
 (101, 269, 270),
 (102, 270, 271),
 (103, 271, 272),
 (104, 272, 273),
 (105, 273, 274),
 (106, 274, 275),
 (107, 275, 276),
 (108, 276, 277),
 (109, 277, 278),
 (110, 278, 279),
 (111, 279, 280),
 (112, 280, 281),
 (113, 281, 282),
 (114, 282, 283),
 (115, 283, 284),
 (116, 284, 285),
 (117, 285, 286),
 (118, 286, 287),
 (119, 287, 288),
 (120, 288, 289),
 (121, 289, 290),
 (122, 290, 291),
 (123, 291, 292),
 (124, 292, 293),
 (125, 293, 294),
 (126, 294, 295),
 (127, 295, 296),
 (128, 296, 297),
 (129, 297, 298),
 (130, 298, 299),
 (131, 299, 300),
 (132, 300, 301),
 (133, 301, 302),
 (134, 302, 303),
 (135, 303, 304),
 (136, 304, 305),
 (137, 305, 306),
 (138, 306, 307),
 (139, 307, 308),
 (140, 308, 309),
 (141, 309, 310),
 (142, 310, 311),
 (143, 311, 312),
 (144, 312, 313),
 (145, 313, 314),
 (146, 314, 315),
 (147, 315, 316),
 (148, 316, 317),
 (149, 317, 318),
 (150, 318, 319),
 (151, 319, 320),
 (152, 320, 321),
 (153, 321, 322),
 (154, 322, 323),
 (155, 323, 324),
 (156, 324, 325),
 (157, 325, 326),
 (158, 326, 327),
 (159, 327, 328),
 (160, 328, 329),
 (161, 329, 330),
 (162, 330, 331),
 (163, 331, 332),
 (164, 332, 333),
 (165, 333, 334),
 (166, 334, 335),
 (167, 335, 336),
 (168, 336, 337),
 (169, 337, 338),
 (170, 338, 339),
 (171, 339, 340),
 (172, 340, 341),
 (173, 341, 342),
 (174, 342, 343),
 (175, 343, 344),
 (176, 344, 345),
 (177, 345, 346),
 (178, 346, 347),
 (179, 347, 348),
 (180, 348, 349),
 (181, 349, 350),
 (182, 350, 351),
 (183, 351, 352),
 (184, 352, 353),
 (185, 353, 354),
 (186, 354, 355),
 (187, 355, 356),
 (188, 356, 357),
 (189, 357, 358),
 (190, 358, 359),
 (191, 359, 360),
 (192, 360, 361),
 (193, 361, 362),
 (194, 362, 363),
 (195, 363, 364),
 (196, 364, 365),
 (197, 365, 366),
 (198, 366, 367),
 (199, 367, 368),
 (200, 368, 369),
 (201, 369, 370),
 (202, 370, 371),
 (203, 371, 372),
 (204, 372, 373),
 (205, 373, 374),
 (206, 374, 375),
 (207, 375, 376),
 (208, 376, 377),
 (209, 377, 378),
 (210, 378, 379),
 (211, 379, 380),
 (212, 380, 381),
 (213, 381, 382),
 (214, 382, 383),
 (215, 383, 384),
 (216, 384, 385),
 (217, 385, 386),
 (218, 386, 387),
 (219, 387, 388),
 (220, 388, 389),
 (221, 389, 390),
 (222, 390, 391),
 (223, 391, 392),
 (224, 392, 393),
 (225, 393, 394),
 (226, 394, 395),
 (227, 395, 396),
 (228, 396, 397),
 (229, 397, 398),
 (230, 398, 399),
 (231, 399, 400),
 (232, 400, 401),
 (233, 401, 402),
 (234, 402, 403),
 (235, 403, 404),
 (236, 404, 405),
 (237, 405, 406),
 (238, 406, 407),
 (239, 407, 408),
 (240, 408, 409),
 (241, 409, 410),
 (242, 410, 411),
 (243, 411, 412),
 (244, 412, 413),
 (245, 413, 414),
 (246, 414, 415),
 (247, 415, 416),
 (248, 416, 417),
 (249, 417, 418),
 (250, 418, 419),
 (251, 419, 420),
 (252, 420, 421),
 (253, 421, 422),
 (254, 422, 423),
 (255, 423, 424),
 (256, 424, 425),
 (257, 425, 426),
 (258, 426, 427),
 (259, 427, 428),
 (260, 428, 429),
 (261, 429, 430),
 (262, 430, 431),
 (263, 431, 432),
 (264, 432, 433),
 (265, 433, 434),
 (266, 434, 435),
 (267, 435, 436),
 (268, 436, 437),
 (269, 437, 438),
 (270, 438, 439),
 (271, 439, 440),
 (272, 440, 441),
 (273, 441, 442),
 (274, 442, 443),
 (275, 443, 444),
 (276, 444, 445),
 (277, 445, 446),
 (278, 446, 447),
 (279, 447, 448),
 (280, 448, 449),
 (281, 449, 450),
 (282, 450, 451),
 (283, 451, 452),
 (284, 452, 453),
 (285, 453, 454),
 (286, 454, 455),
 (287, 455, 456),
 (288, 456, 457),
 (289, 457, 458),
 (290, 458, 459),
 (291, 459, 460),
 (292, 460, 461),
 (293, 461, 462),
 (294, 462, 463),
 (295, 463, 464),
 (296, 464, 465),
 (297, 465, 466),
 (298, 466, 467),
 (299, 467, 468),
 (300, 468, 469),
 (301, 469, 470),
 (302, 470, 471),
 (303, 471, 472),
 (304, 472, 473),
 (305, 473, 474),
 (306, 474, 475),
 (307, 475, 476),
 (308, 476, 477),
 (309, 477, 478),
 (310, 478, 479),
 (311, 479, 480),
 (312, 480, 481),
 (313, 481, 482),
 (314, 482, 483),
 (315, 483, 484),
 (316, 484, 485),
 (317, 485, 486),
 (318, 486, 487),
 (319, 487, 488),
 (320, 488, 489),
 (321, 489, 490),
 (322, 490, 491),
 (323, 491, 492),
 (324, 492, 493),
 (325, 493, 494),
 (326, 494, 495),
 (327, 495, 496),
 (328, 496, 497),
 (329, 497, 498),
 (330, 498, 499),
 (331, 499, 500),
 (332, 500, 501),
 (333, 501, 502),
 (334, 502, 503),
 (335, 503, 504),
 (336, 504, 505),
 (337, 505, 506),
 (338, 506, 507),
 (339, 507, 508),
 (340, 508, 509),
 (341, 509, 510),
 (342, 510, 511),
 (343, 511, 512),
 (344, 512, 513),
 (345, 513, 514),
 (346, 514, 515),
 (347, 515, 516),
 (348, 516, 517),
 (349, 517, 518),
 (350, 518, 519),
 (351, 519, 520),
 (352, 520, 521),
 (353, 521, 522),
 (354, 522, 523),
 (355, 523, 524),
 (356, 524, 525),
 (357, 525, 526),
 (358, 526, 527),
 (359, 527, 528),
 (360, 528, 529),
 (361, 529, 530),
 (362, 530, 531),
 (363, 531, 532),
 (364, 532, 533),
 (365, 533, 534),
 (366, 534, 535),
 (367, 535, 536),
 (368, 536, 537),
 (369, 537, 538),
 (370, 538, 539),
 (371, 539, 540),
 (372, 540, 541),
 (373, 541, 542),
 (374, 542, 543),
 (375, 543, 544),
 (376, 544, 545),
 (377, 545, 546),
 (378, 546, 547),
 (379, 547, 548),
 (380, 548, 549),
 (381, 549, 550),
 (382, 550, 551),
 (383, 551, 552),
 (384, 552, 553),
 (385, 553, 554),
 (386, 554, 555),
 (387, 555, 556),
 (388, 556, 557),
 (389, 557, 558),
 (390, 558, 559),
 (391, 559, 560),
 (392, 560, 561),
 (393, 561, 562),
 (394, 562, 563),
 (395, 563, 564),
 (396, 564, 565),
 (397, 565, 566),
 (398, 566, 567),
 (399, 567, 568),
 (400, 568, 569),
 (401, 569, 570),
 (402, 570, 571),
 (403, 571, 572),
 (404, 572, 573),
 (405, 573, 574),
 (406, 574, 575),
 (407, 575, 576),
 (408, 576, 577),
 (409, 577, 578),
 (410, 578, 579),
 (411, 579, 580),
 (412, 580, 581),
 (413, 581, 582),
 (414, 582, 583),
 (415, 583, 584),
 (416, 584, 585),
 (417, 585, 586),
 (418, 586, 587),
 (419, 587, 588),
 (420, 588, 589),
 (421, 589, 590),
 (422, 590, 591),
 (423, 591, 592),
 (424, 592, 593),
 (425, 593, 594),
 (426, 594, 595),
 (427, 595, 596),
 (428, 596, 597),
 (429, 597, 598),
 (430, 598, 599),
 (431, 599, 600),
 (432, 600, 601),
 (433, 601, 602),
 (434, 602, 603),
 (435, 603, 604),
 (436, 604, 605),
 (437, 605, 606),
 (438, 606, 607),
 (439, 607, 608),
 (440, 608, 609),
 (441, 609, 610),
 (442, 610, 611),
 (443, 611, 612),
 (444, 612, 613),
 (445, 613, 614),
 (446, 614, 615),
 (447, 615, 616),
 (448, 616, 617),
 (449, 617, 618),
 (450, 618, 619),
 (451, 619, 620),
 (452, 620, 621),
 (453, 621, 622),
 (454, 622, 623),
 (455, 623, 624),
 (456, 624, 625),
 (457, 625, 626),
 (458, 626, 627),
 (459, 627, 628),
 (460, 628, 629),
 (461, 629, 630),
 (462, 630, 631),
 (463, 631, 632),
 (464, 632, 633),
 (465, 633, 634),
 (466, 634, 635),
 (467, 635, 636),
 (468, 636, 637),
 (469, 637, 638),
 (470, 638, 639),
 (471, 639, 640),
 (472, 640, 641),
 (473, 641, 642),
 (474, 642, 643),
 (475, 643, 644),
 (476, 644, 645),
 (477, 645, 646),
 (478, 646, 647),
 (479, 647, 648),
 (480, 648, 649),
 (481, 649, 650),
 (482, 650, 651),
 (483, 651, 652),
 (484, 652, 653),
 (485, 653, 654),
 (486, 654, 655),
 (487, 655, 656),
 (488, 656, 657),
 (489, 657, 658),
 (490, 658, 659),
 (491, 659, 660),
 (492, 660, 661),
 (493, 661, 662),
 (494, 662, 663),
 (495, 663, 664),
 (496, 664, 665),
 (497, 665, 666),
 (498, 666, 667),
 (499, 667, 668),
 (500, 668, 669),
 (501, 669, 670),
 (502, 670, 671),
 (503, 671, 672),
 (504, 672, 673),
 (505, 673, 674),
 (506, 674, 675),
 (507, 675, 676),
 (508, 676, 677),
 (509, 677, 678),
 (510, 678, 679),
 (511, 679, 680),
 (512, 680, 681),
 (513, 681, 682),
 (514, 682, 683),
 (515, 683, 684),
 (516, 684, 685),
 (517, 685, 686),
 (518, 686, 687),
 (519, 687, 688),
 (520, 688, 689),
 (521, 689, 690),
 (522, 690, 691),
 (523, 691, 692),
 (524, 692, 693),
 (525, 693, 694),
 (526, 694, 695),
 (527, 695, 696),
 (528, 696, 697),
 (529, 697, 698),
 (530, 698, 699),
 (531, 699, 700),
 (532, 700, 701),
 (533, 701, 702),
 (534, 702, 703),
 (535, 703, 704),
 (536, 704, 705),
 (537, 705, 706),
 (538, 706, 707),
 (539, 707, 708),
 (540, 708, 709),
 (541, 709, 710),
 (542, 710, 711),
 (543, 711, 712),
 (544, 712, 713),
 (545, 713, 714),
 (546, 714, 715),
 (547, 715, 716),
 (548, 716, 717),
 (549, 717, 718),
 (550, 718, 719),
 (551, 719, 720),
 (552, 720, 721),
 (553, 721, 722),
 (554, 722, 723),
 (555, 723, 724),
 (556, 724, 725),
 (557, 725, 726),
 (558, 726, 727),
 (559, 727, 728),
 (560, 728, 729),
 (561, 729, 730),
 (562, 730, 731),
 (563, 731, 732),
 (564, 732, 733),
 (565, 733, 734),
 (566, 734, 735),
 (567, 735, 736),
 (568, 736, 737),
 (569, 737, 738),
 (570, 738, 739),
 (571, 739, 740),
 (572, 740, 741),
 (573, 741, 742),
 (574, 742, 743)]

In [10]:
# # Extract features (X), targets (y), and pickup hours from the DataFrame
# X = np.array([filtered_data.iloc[start:end]['ride_count'].values for start, end, target in rolling_window])
# y = np.array([filtered_data.iloc[end:target]['ride_count'].values for start, end, target in rolling_window])
# pickup_hours = [filtered_data.iloc[end]['pickup_time_hour'] for start, end, target in rolling_window]

In [19]:
xyz = generate_training_set(ts_data, start_position = 0, n_features = 24*7, step_size = 1, pickup_location_id=43, target_col='ride_count')

Slicing data: 100%|██████████| 575/575 [00:00<00:00, 1392450.81it/s]
Extracting features for X: 100%|██████████| 575/575 [00:00<00:00, 13512.65it/s]
Extracting target for y: 100%|██████████| 575/575 [00:00<00:00, 33017.88it/s]

In [12]:
xyz[xyz['pickup_location_id'] == 43]

,rides_previous_168_hour,rides_previous_167_hour,rides_previous_166_hour,rides_previous_165_hour,rides_previous_164_hour,rides_previous_163_hour,rides_previous_162_hour,rides_previous_161_hour,rides_previous_160_hour,rides_previous_159_hour,...,rides_previous_7_hour,rides_previous_6_hour,rides_previous_5_hour,rides_previous_4_hour,rides_previous_3_hour,rides_previous_2_hour,rides_previous_1_hour,pickup_time,pickup_location_id,rides_next_hour
113,1.0,1.0,20.0,1.0,48.0,4.0,5.0,2.0,1.0,1.0,...,0.0,14.0,0.0,13.0,5.0,7.0,61.0,2024-01-01 01:00:00,43,27.0
373,0.0,3.0,44.0,1.0,66.0,3.0,3.0,2.0,1.0,0.0,...,0.0,7.0,0.0,7.0,9.0,3.0,31.0,2024-01-01 02:00:00,43,15.0
633,0.0,0.0,29.0,1.0,57.0,1.0,0.0,0.0,0.0,0.0,...,0.0,6.0,0.0,6.0,9.0,1.0,6.0,2024-01-01 03:00:00,43,12.0
893,0.0,0.0,17.0,0.0,68.0,0.0,4.0,0.0,0.0,1.0,...,0.0,2.0,1.0,14.0,15.0,1.0,5.0,2024-01-01 04:00:00,43,7.0
1153,0.0,1.0,4.0,0.0,33.0,1.0,6.0,0.0,0.0,1.0,...,0.0,0.0,1.0,14.0,10.0,0.0,4.0,2024-01-01 05:00:00,43,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191993,0.0,0.0,13.0,0.0,50.0,0.0,1.0,0.0,0.0,0.0,...,0.0,4.0,0.0,0.0,0.0,1.0,8.0,2024-01-31 19:00:00,43,2.0
192253,0.0,0.0,3.0,0.0,46.0,0.0,0.0,1.0,1.0,0.0,...,0.0,2.0,0.0,0.0,0.0,1.0,5.0,2024-01-31 20:00:00,43,3.0
192513,0.0,0.0,16.0,0.0,43.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,5.0,2024-01-31 21:00:00,43,3.0
192773,0.0,0.0,9.0,0.0,62.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,0.0,0.0,1.0,0.0,5.0,2024-01-31 22:00:00,43,1.0
193033,0.0,1.0,13.0,0.0,48.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,3.0,2024-01-31 23:00:00,43,1.0